.auth-container{
    padding: 40px 40px 55px 0;
    display: flex;
    justify-content: center;
    background: url(~core/assets/images/AuthBackground.svg) no-repeat;
    background-size: 100%;
}yarn 

.auth-img{
    width: 550px;
}

.auth-info{
    margin-right: 62px;
}
.auth-info-title{
    margin-top: 36px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 55px;
    line-height: 75px;
    letter-spacing: -0.015em;
    color: #263238;
}

.auth-info-subtitle{
    margin-top: 25px;
    margin-bottom: 15px;
    font-family: Open Sans;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #9E9E9E;

}
@media screen and (max-width:1024px){
    .auth-info{
        display: none;
    }
    .auth-container{
        padding: 100 50px 20px 50px;
        display: flex;
        justify-content: center;
        background: url(~core/assets/images/AuthBackgroundMedia.svg) no-repeat;
        background-size: 100%;
    }
}

@media (max-width:768px){
    .auth-info{
        display: none;
    }
    .auth-container{
        padding: 20px;
        display: flex;
        justify-content: center;
        background: url(~core/assets/images/AuthBackgroundMedia.svg) no-repeat;
        background-size: 100%;
    }

}