.login-form{
   margin-top: 60px; 
}

.login-link-recover{
    font-family: Open Sans;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #407BFF;
    margin: 15px 0 106px;
    display: inline-block;
}

.login-submit-button{
    margin-bottom: 33px;
}
.login-text-reg{
    margin-bottom: 110px;
}
.not-registered{
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.015em;
    color:#9e9e9e;
}

.format-link-reg{
    position: relative;
    text-transform: uppercase;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.015em;
    text-decoration-line: none;
    color: #407BFF;
    margin-left: 8px;
    transition: color 200ms;
}
.format-link-reg::after{
    content: "";
    width: 0;
    height: 2.6px;
    background-color: #407BFF;
    bottom: 1px;
    position: absolute;
    left: 1.8px;
    transition: background-color 200ms;
}

.format-link-reg:hover::after{
        width: 100%;
        transition: width 300ms ease-in-out;
}

.is-invalid{
    background-image: none !important;
}
.input-password{
    border-right: none;
    border-radius: 10px 0 0 10px;
}

.input-eye{
    width: 50px;
    border: 1px solid #e1e1e1;
    border-left: none;
    line-height: 25px;
    font-size: 18px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;

}
.form-control{
    outline: none !important;
    box-shadow: none !important;
}

.input-password:focus +{
    .input-eye{
        border-color: #c3d4fd;
    }
    .input-eye.is-invalid{
        border-color:  #dc3545;
    }
    
}

@media screen and (max-width:1024px){
    .auth-card{
        margin: auto;

    }
}

@media screen and (max-width:500px){
    .auth-card{
        width: 374px;
        padding: 76px 20px 40px 20px;
    }
    .login-link-recover{
        margin-bottom: 80px;
    }
}
@media screen and (max-width:375px){
    .auth-card{
        width: 320px;
        padding: 76px 20px 40px 20px;
    }
    .login-link-recover{
        margin-bottom: 80px;
    }
}