.main-nav{
    height: 70px;
    color:#FFF;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 0;
    margin-right: 0;
}

.nav-log-text{
    color: #FFF;
}
.nav-log-text h4{
   font-size: 1.5em;
   display: inline-block;

}
.main-menu{
    display: flex;
    justify-content: center;

    li:nth-child(2) {
      margin-left: 85px;
      margin-right: 85px;  
    }
 
}

.nav-link{
    font-style: normal;
    font-size: 18px;
    color: rgba(255,255,255,0.5);

    &.active{
        color: #FFF;
        font-weight: 700;
    }

    &:hover{
        color: #FFF;
    }
}
.main-user-name{
    padding: 4px 16px;
    box-shadow: inset 3px -3px 20px 10px rgba(0,0,0,0.4);
    border-radius: 4px;
}

.modal-logout{
    background-color: #407bff;
    padding: 32px 64px;
    border-radius: 12px;
    text-align: center;
}
.modal-logout h1{
    font-size: 32px;
    color: #FFF;
}
.modal-logout p {
    color: #FFF;
} 

.button-config button {
    background-color: #407bff;
    border: solid 1px #FFF;
    padding: 8px 16px;
    color: #FFF;
    border-radius: 4px;
    &:hover{
        background-color: #2f68e2;
        transition: background-color 200ms;
    }
}
.button-2{
    display: inline-block;
    margin-left: 30px;
    margin-right: 40px;
}

@media(min-width:801px){
    .main-nav{
        .icon-line{
            display: none;
        }
    }
}

@media(max-width: 800px){
    .main-nav{
        display: flex;
        ul,.nav-link{
            display: none;
        }
        .icon-line{
            text-align: end;
           
        }
    }

    .main-nav.three-line{
        height: 230px;
        align-items: flex-start;
        padding-top: 16px;
        flex-direction: column;
        ul,.nav-link{
            display: block;
            padding-left: 0;
            text-align: left;
        }
        li{
            margin: 0;
        }

        
    }

}


@media(max-width:768px){
    .main-nav.three-line{
        .icon-line{
            margin-left: 246px;
           
        }
    }
    
    .nav-log-text h4{
        font-size: 1.4em;
     
     }
}
@media(max-width:500px){
    
    .nav-log-text h4{
      
        font-size: 0.8rem;
     
     }
     .main-nav{
         .icon-line{
             width: 14px;
         }
     }
     .main-nav.three-line{
        .icon-line{
            margin-left: 156px;
        }
        .nav-link,li{
            font-size: 12px;
        }
        .nav-log-text h4{
            margin-top: 8px;
        }
    }
}

@media(max-width:425px){
    .main-nav{
        .icon-line{
            width: 13px;
        }
    }
    
    .nav-log-text h4{
        margin-top: 8px;
        font-size: 0.6rem;
     
     }

     .main-nav.three-line{
         .icon-line{
             margin-left: 126px;
         }
         .nav-link,li{
             font-size: 12px;
         }
     }
}

     @media(max-width:360px){
        .main-nav{
            .icon-line{
                width: 13px;
            }
            .col-3.logo-format{
                padding: 0;
            }
        }
        
        .nav-log-text h4{
            margin-top: 8px;
            font-size: 10px;
         
         }
    
         .main-nav.three-line{
             .icon-line{
                 margin-left: 100px;
             }
             .nav-link,li{
                 font-size: 12px;
             }
             .col-2.text-right, .col-6.menu-format{
                 padding: 0;
             }
             .menu-format{
                 height: 90px;
             }
         }
    
         

}

