.main-nav{
    height: 70px;
    color:#FFF;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 0;
    margin-right: 0;
}

.nav-log-text{
    color: #FFF;
}

.main-menu{
    display: flex;
    justify-content: center;

    li:nth-child(2) {
      margin-left: 85px;
      margin-right: 85px;  
    }
 
}

.nav-link{
    font-style: normal;
    font-size: 18px;
    color: rgba(255,255,255,0.5);

    &.active{
        color: #FFF;
        font-weight: 700;
    }

    &:hover{
        color: #FFF;
    }
}