.categories-select__control{
    height: 42px;
    border-radius: 10px !important;
    border: 1px solid #e1e1e1 !important;
    padding: 0 11px;
    letter-spacing: -0.015em ;
    font-family: Open Sans;
    font-size: 18px;
    
    &:hover{
        border: 1px solid #e1e1e1 !important;
    }
}

.categories-select__placeholder{
    color:  #9e9e9e !important;
}

.categories-select__indicator-separator{
    display: none;
}
