.product-card-admin{
    margin-bottom: 20px;
    border-radius: 10px;
    padding-right: 17px;
    .product-currency{
        font-size: 14px;
    }
    .product-price{
       font-size: 24px; 
    }
    .product-price-container{
        margin-top: 0px;
    }
}
.product-card-image-admin{
    width: 100px;
    height: 100px;
}
.product-card-name-admin{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    margin-top: 27px;

color: #263238;
}
.modal-card{
    background-color: #fff;
    border: 2px solid black;
    width: 400px;
    height: 200px;
    border-radius: 16px;
    box-shadow: 2px 2px 4px black;
    padding: 12px 20px;
}
    .button-card {
    padding: 8px 16px ;
    border-radius: 8px;
    color: #fff;
    background-color:#407bff;
    border: none;
    margin-top: 20px ;
    &:hover{
        opacity: .7;
    }
}
.button-delete{
    margin-left: 12px;
    background-color: rgb(184, 46, 46);
}
